.profile__edit-button {
  background: url(../../../image/Edit-Button.png);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transition: opacity 2s;
  position: absolute;
  left: 245px;
  top: 34px;
  padding: 0px;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    position: static;
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 18px;
  }
}