.logo {
  max-width: 103.74px;
  max-height: 24.4px;
  margin: 0px 0px 0px 8.4375%;
}

@media screen and (min-width:1280px) {
  .logo {
    max-width: 142px;
    max-height: 33px;
    margin: 0px 0px 0px 0px;
  }
}