.profile__avatar {
  height: 120px;
  width: 120px;
  margin: 42px auto 0px;
  display: block;
  border-radius: 50%;
}

@media screen and (min-width:1280px) {
  .profile__avatar {
    margin: 0px 0px 0px 0px;
  }
}