.profile__info {
  width: 282px;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .profile__info{
    margin: 22px 0px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    max-height: 73px;
  }
}