.popup__title {
  color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 25px auto 0px;
  width: 238px;
  height: 22px;
}

@media screen and (min-width: 1280px) {
  .popup__title {
    line-height: 29px;
    font-size: 24px;
    width: 330px;
    height: 23px;
    margin: 34px 0px 0px 36px;
  }
}